# Mac
.DS_Store

# Project
.idea/
TODO.txt
draft.ipynb

# Python
**/__pycache__
**.pyc
.env/

# Jupyter notebook
**/.ipynb_checkpoints/

# Data
data/credentials.txt # credentials for 'moonboard.com'
data/debug.log
data/binary

# Model training
.texpadtmp/
save/*